 /*~~~Footer~~~*/
 /* taken from https://bbbootstrap.com/snippets/bootstrap-dark-website-footer-social-media-icons-46403047 */
 
 .footer-dark {
     padding: 50px 0;
     color: #f0f9ff;
     background-color: $primary-color;
 }
 
 .footer-dark .item.social {
     text-align: center;
 }
 
 .contact {
     &_text {
         padding-right: 9rem;
         text-align: left;
     }
     a {
         text-decoration: none;
         color: $secondary-color;
     }
 }
 
 @media (max-width: 991px) {
     .footer-dark .item.social {
         text-align: center;
         margin-top: 20px;
     }
 }
 
 .footer-dark .item.social>a {
     width: 36px;
     height: 36px;
     line-height: 36px;
     display: inline-block;
     text-align: center;
     border-radius: 50%;
     box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
     margin: 0 8px;
     color: #fff;
     opacity: 0.75;
 }
 
 .footer-dark .item.social>a:hover {
     opacity: 0.9;
 }