.navbar {
    z-index: 2;
    background-color: $base-color;
    border-bottom: 2px solid;
    border-color: $primary-color;
    &-brand>img {
        max-width: 80px;
    }
    #myTogglerNav a {
        color: $primary-color;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.2rem;
        &:hover {
            color: $hover;
        }
    }
}

a.active {
    color: $hover!important;
}

.d-none {
    transform: translate(6px, -6px);
}

.jumbotron {
    // background-image: url('../img/standin.png');
    // background-position: bottom center;
    // height: 100vh;
    /* The image used */
    background-image: url('../img/fullscreen_stoat.svg');
    position: relative;
    /* Full height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        position: absolute;
        align-self: baseline;
        height: auto;
        width: 100vw;
        display: block;
        bottom: 0;
        text-align: center;
        z-index: 1;
    }
}