    @import 'config',
    'about',
    'footer',
    'media';
    @import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500;700&family=Merriweather:ital,wght@0,300;0,400;1,700&display=swap');
    //  **********************************************  UNIVERSIAL  **********************************************
    //since I used a comboination of bootstrap & css some sections only have a couple rules so a partial seemed a little ridiculous, so all the sections that are short are in this file 
    body {
        font-family: 'Merriweather', serif;
        background-color: $base-color;
        color: $secondary-color;
    }
    
    h1,
    h2,
    h3 {
        font-family: 'Eczar', serif;
        ;
    }
    
    .btn {
        border-width: 3px;
        &-primary {
            background-color: $primary-color;
            border-color: $primary-color;
            font-weight: 500;
            &:hover {
                box-sizing: border-box;
                background-color: $hover;
                border-color: $primary-color;
                border-width: 3px;
                font-weight: 500;
            }
        }
    }
    
    a.active {
        color: $hover!important;
    }
    
    .d-none {
        transform: translate(6px, -6px);
    }
    
    .text-right {
        text-align: right;
    }
    
    //  **********************************************  NAV **********************************************
    .navbar {
        z-index: 5;
        background-color: $base-color;
        border-bottom: 2px solid;
        border-color: $primary-color;
        &-brand>img {
            max-width: 80px;
        }
        #myTogglerNav a {
            color: $primary-color;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1.2rem;
            &:hover {
                color: $hover;
            }
        }
    }
    
    //  **********************************************  PORFOLIO  **********************************************
    .card {
        background-color: $card;
        border-color: $card;
    }
    
    //  **********************************************  CONTACT  **********************************************
    input[type=text],
    input[type=tel],
    input[type=email],
    textarea.form-control {
        background-color: white;
        width: 150%;
        margin: auto auto;
        color: $hover;
    }
    
    .contact_text {
        margin-bottom: 1rem;
    }
    
    .btn-md {
        margin-left: 57%;
    }