@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@500;700&family=Merriweather:ital,wght@0,300;0,400;1,700&display=swap");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.navbar {
  z-index: 5;
  background-color: #ffcc99;
  border-bottom: 2px solid;
  border-color: #cc6633;
}
.navbar-brand > img {
  max-width: 80px;
}
.navbar #myTogglerNav a {
  color: #cc6633;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
}
.navbar #myTogglerNav a:hover {
  color: rgba(204, 102, 51, 0.5);
}

a.active {
  color: rgba(204, 102, 51, 0.5) !important;
}

.d-none {
  -webkit-transform: translate(6px, -6px);
          transform: translate(6px, -6px);
}

@media screen and (max-width: 1766px) and (min-width: 577px) {
  .jumbotron img {
    position: absolute;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    height: auto;
    width: 130vw;
    display: block;
    bottom: 0;
    text-align: center;
    z-index: 1;
    left: -14%;
  }
}
@media screen and (min-width: 1767px) {
  .jumbotron img {
    position: absolute;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    height: auto;
    width: 100vw;
    display: block;
    bottom: 0;
    text-align: center;
    z-index: 1;
  }
}
@media screen and (max-width: 800px) and (min-width: 614px) {
  .jumbotron img {
    width: 190vw;
    left: -40%;
  }
}
@media screen and (min-width: 614px) {
  .jumbotron {
    /* The image used */
    background-image: url("../img/fullscreen_stoat2.svg");
    position: relative;
    /* Full height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 614px) {
  .jumbotron {
    /* The image used */
    background-image: url("../img/stoat_final.png");
    position: relative;
    /* Full height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbotron img {
    display: none;
  }
}
body {
  font-family: "Merriweather", serif;
  background-color: #ffcc99;
  color: #330000;
}

h1,
h2,
h3 {
  font-family: "Eczar", serif;
}

.btn {
  border-width: 3px;
}
.btn-primary {
  background-color: #cc6633;
  border-color: #cc6633;
  font-weight: 500;
}
.btn-primary:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(204, 102, 51, 0.5);
  border-color: #cc6633;
  border-width: 3px;
  font-weight: 500;
}

.text-right {
  text-align: right;
}

.card {
  background-color: rgba(204, 102, 51, 0.3);
  border-color: rgba(204, 102, 51, 0.3);
}

.about_img {
  width: auto;
  height: 70%;
}

#skills .list-group-item {
  background-color: rgba(204, 102, 51, 0.5);
  color: #330000;
}
#skills .list-group-item.active {
  background-color: #cc6633;
  border-color: #cc6633;
  color: white;
}

.about {
  text-align: center;
  vertical-align: middle;
}
.about_lead, .about_text, .about_img, .about_title {
  text-align: center;
  vertical-align: middle;
}
.about_lead {
  padding-bottom: 1rem;
}
.about_text {
  line-height: 190%;
}
.about_lead {
  line-height: 130%;
}

#Education {
  text-align: center;
  vertical-align: middle;
  margin-top: -9em;
}

/*~~~Footer~~~*/
/* taken from https://bbbootstrap.com/snippets/bootstrap-dark-website-footer-social-media-icons-46403047 */
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #cc6633;
}

.footer-dark .item.social {
  text-align: center;
}

.contact_text {
  padding-right: 9rem;
  text-align: left;
}
.contact a {
  text-decoration: none;
  color: #330000;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-dark .item.social > a {
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

input[type=text],
input[type=tel],
input[type=email],
textarea.form-control {
  background-color: white;
  width: 150%;
  margin: auto auto;
  color: rgba(204, 102, 51, 0.5);
}

.contact_text {
  margin-bottom: 1rem;
}

.btn-md {
  margin-left: 57%;
}

@media screen and (max-width: 767px) {
  form {
    display: inline;
    vertical-align: middle;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    text-align: left;
    vertical-align: middle;
  }
  .about .col-xl-6 {
    max-height: 600px;
  }
  .about_lead, .about_text, .about_img, .about_title {
    text-align: left;
    vertical-align: middle;
  }
  .about_lead {
    line-height: 130%;
    margin-right: 7rem;
  }
  .about_text {
    line-height: 190%;
    margin-right: 7rem;
  }

  .awards {
    text-align: right;
  }

  .education {
    text-align: left;
  }

  .skills {
    text-align: left !important;
    z-index: 2;
  }
}
/*# sourceMappingURL=main.css.map */