@import 'config',
'menu';
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500;700&family=Merriweather:ital,wght@0,300;0,400;1,700&display=swap');
body {
    font-family: 'Merriweather', serif;
    background-color: $base-color;
    color: $secondary-color;
}

h1,
h2,
h3 {
    font-family: 'Eczar', serif;
    ;
}

.btn {
    border-width: 3px;
    &-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        font-weight: 500;
        &:hover {
            box-sizing: border-box;
            background-color: $hover;
            border-color: $primary-color;
            color: $primary-color;
            border-width: 3px;
            font-weight: 500;
        }
    }
}

.text-right {
    text-align: right;
}

.card {
    background-color: $card;
    border-color: $card;
}